ENV="development"

# -- optional
# [server]
# ROCKET_HOST="127.0.0.1"
# ROCKET_PORT=8000
# ROCKET_CLI_COLORS="off"
# ROCKET_KEEP_ALIVE=0

# -- development
# [application]
APPLICATION_URL="http://127.0.0.1:3000"
# [authentication]
AUTHENTICATION_TOKEN_ISSUER="org.example"
AUTHENTICATION_TOKEN_KEY_ID="user-authentication-ticket-key_id"
AUTHENTICATION_TOKEN_SECRET="user-authentication-ticket-secret"
# [database]
DATABASE_URL="postgresql://u$er:pa$$w0rd@localhost:5432/dbname"
# [mailer]
MAILER_DOMAIN="example.org"
MAILER_FROM_EMAIL="no-reply@example.org"
MAILER_FROM_ALIAS="Sender - Development"
MAILER_SMTP_HOST="server.tld"
MAILER_SMTP_PORT=465
MAILER_SMTP_USERNAME="username"
MAILER_SMTP_PASSWORD="password"
# [message queue]
MESSAGE_QUEUE_URL="redis://localhost:6379/0"
# [session store]
SESSION_STORE_URL="redis://127.0.0.1:6379/2"
# [verification]
VERIFICATION_TOKEN_ISSUER="org.example"
VERIFICATION_TOKEN_KEY_ID="user-verification-ticket-key_id"
VERIFICATION_TOKEN_SECRET="user-verification-ticket-secret"

# -- test
# [application]
TEST_APPLICATION_URL="http://127.0.0.1:3000"
# [authentication]
TEST_AUTHENTICATION_TOKEN_ISSUER="com.example"
TEST_AUTHENTICATION_TOKEN_KEY_ID="test-user-authentication-ticket-key_id"
TEST_AUTHENTICATION_TOKEN_SECRET="test-user-authentication-ticket-secret"
# [database]
TEST_DATABASE_URL="postgresql://u$er:pa$$w0rd@localhost:5432/dbname"
# [mailer]
TEST_MAILER_DOMAIN="example.com"
TEST_MAILER_FROM_EMAIL="no-reply@example.com"
TEST_MAILER_FROM_ALIAS="Sender - Testing"
TEST_MAILER_SMTP_HOST="server.tld"
TEST_MAILER_SMTP_PORT=465
TEST_MAILER_SMTP_USERNAME="username"
TEST_MAILER_SMTP_PASSWORD="password"
# [message queue]
TEST_MESSAGE_QUEUE_URL="redis://localhost:6379/1"
# [session store]
TEST_SESSION_STORE_URL="redis://127.0.0.1:6379/3"
# [verification]
TEST_VERIFICATION_TOKEN_ISSUER="com.example"
TEST_VERIFICATION_TOKEN_KEY_ID="test-user-verification-ticket-key_id"
TEST_VERIFICATION_TOKEN_SECRET="test-user-verification-ticket-secret"
